h2{ 
  margin-bottom:10px;
}

#wrapper{
  width:720px;
  margin:40px auto 0;
}

#wrapper h1{
  color:#FFF;
  text-align:center;
  margin-bottom:20px;
}

#wrapper a{
  display:block;
  font-size:1.2em;
  padding-top:20px;
  color:#FFF;
  text-decoration:none;
  text-align:center;
}

#tabContainer {
    height: 270px;
    left: 50%;
    margin-left: -130px;
    margin-top: -135px;
    position: fixed;
    top: 50%;
    width: 260px;
}

.tabs{
  height: 30px;
  width: 260px;
}

.tabs > ul{
  font-size: 1em;
  list-style:none;
}

.tabs > ul > li{
  width: 108px;
  padding:7px 10px;
  display:block;
  float:left;
  color:#333;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius:4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.tabs > ul > li:hover{
  background-color: #FFFFFF;
  cursor:pointer;
}

.tabs > ul > li.tabActiveHeader{
  background-color: #FFFFFF;
  cursor:pointer;
}

.tabscontent {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; 
  padding:10px;
  margin:0;
  color:#333;
  border: 4px solid #FFFFFF;
  width: 232px;    
}